:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.users-section {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
.user-card {
  width: 100%;
  border: 1px solid #e5e5e5d9;
  border-radius: 0.75rem;
}

.user-card-content {
  padding: 1.5rem;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.form-buttons {
  display: flex;
  gap: 12px;
}

.details-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details-input {
  height: 2.25rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e5e5e5d9;
  padding: 0;
  padding-left: 5px;
}

.search-input {
  height: 32px;
  width: 150px;
  border-radius: 6px;
  border: 1px solid #e5e5e5d9;
  padding: 0;
  padding-left: 5px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .users-section {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .users-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.test {
  display: flex;
  flex-direction: column;
}
